{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jsx-a11y/recommended"],
  "env": {
    "browser": true,
    "node": true,
  },
  "settings": {
    "import/resolver":"webpack"
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0,
    "react/require-default-props": 0,
    "comma-dangle": [2, "never"],
    "no-shadow": 0,
    "react/jsx-closing-tag-location":0,
    "import/prefer-default-export":0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ]
}
